/* .swipe-container {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.swipe-content {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.swipe-container.swiped-in {
  transform: translateX(-100%);
}
*/

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.mobile-overlay {
  transform: translateX(-100%);
}


