.overAll{
    display: flex;
    flex-direction: column;
    row-gap: 200px;
    padding: 100px 160px;
    background-color: rgb(250, 250, 252);
}
.controllDiv,
.controllDiv2{
    display: flex;
    gap: 40px;
}

.anywhere{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.capital{
    color: var(--Black, #000);
    font-family: 'Satoshi';
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
}
.detail{
    color: var(--primary-lighter, #414647);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 170%;
}

.dinning{
    background: url(../../assets/page2-assets/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 340px;
    width: 50%;
    flex-shrink: 0;
}

.bed-room1{
    background: url(../../assets/page2-assets/Rectangle\ 4\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 340px;
    width: 50%;
    flex-shrink: 0;
}
@media screen and (max-width:768px) {
    .overAll{
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        padding: 10px 10px;
        background-color: rgb(250, 250, 252);
    }

    .controllDiv{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .dinning,
    .bed-room1{
        width: 100%;
        height: 200px;
    }
    .controllDiv2{
        display: flex;
        flex-direction: column;
    }

  
}

