.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 610px;
  background-color: #ffff;
}

.flat-show {
  background: url(../assets/pop-up-assets/Rectangle\ 28.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 300px;
}
.delet {
  margin: 30px;
  cursor: pointer;
}
.flat2,
.flat3,
.fla4{
  display: none;
}

.flat-arrays {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 0px;
}
.flat-arrays img {
  width: 45px;
}
.neighborhood{
  display: flex;
  flex-direction: column;
}
.renta-amout{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-tag {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.price-tag2{
  display: none;
}

.amount {
  color: var(--primary-darker, #0c1618);
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.price {
  color: var(--primary-darker, #0c1618);
  font-family: "Poppins";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}

.bath {
  color: var(--primary-darker, #0c1618);
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}


@media screen and (max-width:768px) {
  .pop-up{
    height: 100%;
    padding-bottom: 2rem;
  }

  .flat-show {
    background: url(../assets/mobile-assets/pop-up/Rectangle\ 34.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20rem;
    flex-shrink: 0;
  }
  .delet {
    padding: 25px;
  }
  .flat-arrays{
    padding: 20px 0px 0px 0px;
    height: 3rem;
  }
  .flat2,
  .flat3,
  .flat4{
    display: flex;

  }
  .flat1{
    display: none;
  }
  .flat2{
    background: url(../../components/assets/mobile-assets/pop-up/Rectangle\ 35.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    width: 100px;
    height: 50px;
  }
  .flat3{
    background: url(../../components/assets/mobile-assets/pop-up/Rectangle\ 35\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    width: 100px;
    height: 50px;
  }
  .flat4{
    background: url(../../components/assets/mobile-assets/pop-up/Rectangle\ 35\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    width: 100px;
    height: 50px;
  }
  .price-tag{
    display: none;
  }
  .price-tag2{
    display: block;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }
  .amount {
    font-size: 17px;
  }
  .price{
    font-weight: 900;
  }
  
  .pop-btn{
    width: 100%;
  }
}
